/* mobile view */
@media (max-width: 400px) {
  .navbar {
    width: 100vw;
  }
  .navbar-brand img {
    position: absolute;
    top: 2rem;
    left: 2rem;
  }

  .home_comp {
    width: 100vw !important;
    height: 100vh !important;
  }
  .img {
    width: 30vh;
    background-size: 30vw 25vh;
    left: 6rem;
  }
}
